---
import PageHeader from "@/components/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("contact", "index");
const contact = entry.data;
const page_data = {
  ...contact,
  content: contact.body,
};
---

<Base
  title={contact.title}
  meta_title={contact.meta_title}
  description={contact.description}
  image={contact.image}
>
  <section class="page-hero pb-6 pt-16">
    <div class="container"><PageHeader page_data={page_data} /></div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <a 
            class="btn btn-primary" 
            href="https://wa.me/34641437667"
            target="_blank"
            rel="noopener noreferrer"
          >
            Contáctanos por WhatsApp
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
